body{
    background-color: black;
    color: white;
}
.container{
    width: 80%; 
    background-color: rgb(71, 64, 64);
    margin: auto;
    border-radius: 20px;
}
.heading{
         font-family: 'Lobster', cursive;
}
#title{
    font-size: 90px;
    text-align: center;
}
#span1{
    color: red;
}

#image{
    width: 400px;
    border-radius: 40px;

}
#img-div{
    text-align: center;
}
#info{
    width: 80%;
    margin: 20px auto;
    text-align: justify;
    font-size: 24px;
}
#marvel{
    color: red;
    margin-left: 10%;
}
ul{
    width: 80%;
    margin: auto;
}
li{
    font-size: 24px;
    line-height: 50px;
}
#footer{
    width: 60%;
    border: 2px solid white;
    margin: auto;
    text-align: center;
    padding: 30px;
    font-size: 24px;

}
#link{
    text-decoration: none;
    color: white;
    border: 2px solid orange;
    padding: 15;
    border-radius: 10px;
    background-color: black;
}
#link:hover{
    background-color: gray;
    color: red;
}